@import "tailwindcss";

:root {
  --primaryYellow: #d2d2af;
  --primaryGreen: #a7cf9e;
  --background: #13151e;
  --primaryBlue: #191c29;
  --secondaryBlue: #383e58;
}

body {
  background-color: var(--background);
  color: white;
}

.bg-color-explosion {
  background: transparent url("../../public/color-explosion.png") no-repeat
    scroll center / cover;
}

.bg-trabajemos {
  background: transparent url("assets/bg-trabajemos.jpg") no-repeat scroll
    center / cover;
}

.bg-contacto {
  background: transparent url("assets/bg-contacto.png") no-repeat scroll center /
    cover;
}

@media screen and (min-width: 1024px) {
  .bg-trabajemos {
    background-attachment: fixed;
  }

  .bg-contacto {
    background-attachment: fixed;
  }
}

h1 {
  font-size: 3rem;
  color: var(--primaryYellow);
}
